:root {
  --pink-100: rgba(248, 187, 208, 1);
  --pink-500: rgba(233, 30, 99, 1);
  --pink-700: rgba(194, 24, 91, 1);
  --light-blue-a200: rgba(64, 196, 255, 1);
  --grey: rgba(0, 0, 0, .44);;
  --white: rgba(255, 255, 255, .95);
  --bezier: cubic-bezier(.175, .885, .320, 1);
  --light-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  --dark-shadow: 0 1px 5px rgba(0, 0, 0, .7);
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.app {
  background: url('../images/bitmap/github-office.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

.app-name {
  font-weight: 500;
  font-size: 3rem;
  color: var(--grey);
  margin-left: 2rem;
}

.full {
  height: 100%;
}

.pink-100 {
  color: var(--pink-100);
}

.pink-500 {
  color: var(--pink-500);
}

.pink-700 {
  color: var(--pink-700);
}

header {
  background: rgba(255, 255, 255, 1);
  z-index: 1;
  box-shadow: var(--dark-shadow);
  transition: 1s var(--bezier) all;
}

header.minimize {
  z-index: 0;
  opacity: .7;
  box-shadow: var(--light-shadow);
  transition: 1s var(--bezier) opacity, z-index, box-shadow;
}

main {
  z-index: 0;
}

main > section {
  text-align: center;
  background-color: var(--white);
  box-shadow: var(--light-shadow);
  padding: 4rem;
}

main ul {
  text-align: left;
}

main.ng-enter {
  animation: enter .3s var(--bezier);
}

main.ng-leave {
  animation: leave .3s var(--bezier);
}

git-chart {
  text-align: center;
  width: 400px;
  display: block;
}

@media screen and (min-width: 768px) {

  .app {
    background: url('../images/bitmap/github-office-large.jpg') no-repeat center center fixed;
    background-size: cover;  
  }

  .app-name {
    font-size: 4rem;
    margin-left: 3rem;
  }

  git-chart {
    width: 600px;
  }

}

@keyframes enter {
  from  { opacity: 0; transform: translate3d(-100%, 0, 0); }
  to    { opacity: 1; transform: none; }
}

@keyframes leave {
  from  { opacity: 1; transform: none;}
  to    { opacity: 0; transform: translate3d(0, -100%, 0); }
}